[profile.default]
src = "src"
out = "out"
libs = ["lib"]
test = "test"
script = "script"
solc_version = "0.8.17"
optimizer = true
optimizer_runs = 200
via_ir = false
gas_reports = ["QuintesNFT"]
verbosity = 2
